name: CI

on: [push]

jobs:
  FrontDeploy:
    name: FrontDeploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          registry-url: 'https://registry.npmjs.org'
      - name: Install Dependencies
        run: yarn
      - name: Build
        run: |
          yarn run build
          yarn run generate
      - name: deploy to Firebase Hosting
        run: |
          firebase deploy --token $FIREBASE_CI
        env:
          FIREBASE_CI: ${{ secrets.FIREBASE_CI }}
